WS_PROVIDER="ws://localhost:9944"

# listen port for the prometheus exporter
PORT=8080

# prefix used in names of prometheus metrics
METRICS_PREFIX="ple"

# chain IDs of parachains to monitor for liveness
PARACHAIN_IDS="[123, 456, 789]"
